<meta charset="utf-8">
<div class="container col-sm-7 col-sm-offset-2">

	<div class="row">
	      	<%
        		var loginUser = blog.loginUser
        	%>
       	<form action="/user/<%= loginUser._id%>/update" method="post" enctype="multipart/form-data">
		<table class="table">

        <tbody>
            <tr>
                <input name="_id" value="<%= loginUser._id%>"  style='display:none'>
                <td>Id</td>
                <td><%=loginUser._id%></td>
            </tr>
            <tr>
                <td>Name(Or Alias)</td>
                <td><input name="name" value="<%=loginUser.name %>" ></td>
            </tr>
            <tr>
                <td>Photo<img src = "<%= loginUser.photo %>" style='width:30px'></td>
                <td >
                	<input name="photo" value="<%=loginUser.photo %>" class='col-sm-12'>
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input name="email" value="<%=loginUser.email %>" ></td>
            </tr>
        </tbody>
    </table>
    <button type ='submit' class='btn btn-default pull-right'>submit</button>
    </form>
	</div>
</div>
