<!----------- 댓글 달기  -->
<div id = "answer-updateDiv">
<meta charset="utf-8">
<br>	
	<div class="media col-sm-11">
		<form action="/blogBoard/answer/update" method="post" id='answer-insertForm'enctype="multipart/form-data" name="write-comment" class="form-horizontal"  role="form">
			<%
				var answer = blog.answer
				  , user = answer.user
				var loginUser = blog.loginUser
				  , postNum = blog.postNum
				
				if(!user.isAnnoymous()) {
			%>
			<div class="media-object">
				<a href="#"><%=user.name %></a>
			</div>
			<div class="media-object pull-left">
				<div><img src='<%=user.photo %>' alt='img' style="width:70px;padding:10px 0 0 0"></div>
			</div>
		    <%
				  } else {
				  
			%>
			<span class="label label-default">wrtier</span>
			<input name="writer" type='text' placeholder="writer" value='<%= answer.writer %>'>
			<span class="label label-default">password</span>
			<input name="password" type='text' placeholder="password">
			<% 
				  }		
			%>
			<div class="media-body">
				<textarea name="content" placeholder="content" style="height:100px"><%=answer.content%></textarea>
			</div>
			<div class="media-body">
				<button class="col-sm-offset-5 btn btn-warn" >submit</button>
				<button class="btn btn-warn" id='answer-cancel' >cancel</button>	
			</div>
			<input name="num" value='<%=answer.num %>'  style="display:none">
			<input name="answerNum" value='<%=answer.answerNum %>' style="display:none">
			<input name="postNum" value="<%=postNum %>" style="display:none">
			<input name="userId" value='<%=answer.userId %>'  style="display:none"> 
		</form>
	</div>
</div>
