
<div id = 'blogBoard-postList' >
	<meta charset="utf-8">
	<!-- list  -->
	<%
	    var posts = blog.posts;
		for(var i in posts) {
			var post = posts[i]
			  , category = post.category
			  , user = post.user
			  
	%>
	<div class="col-xs-12  col-sm-11    blogBoard-row" data-num="<%=post.num%>">
		<div class="col-xs-2 col-sm-2" style="padding:9px 0">
			<div >Votes <B><%=post.vote%></B></div>
			<div >Answers <B><%= post.answerCount%></B></div>
			<div >Views <B><%= post.readCount%></B></div>
		</div>
		<div class="col-xs-10 col-sm-10" >
			<div class="row">
				<a class='blogBoard-detailView' href="/blog/<%=post.num%>/<%=post.getTitle4url()%>" data-num="<%=post.num%>"> 
					<H2><%=post.title %></H2>
				</a>
			</div>
			<div class='row'>
				<div class="media-body">
					<span class='pull-left'>
						<a class="blogCategory" href="javascirpt:" data-id="<%=category.id%>" ><%=category.title%> </a>
					</span>
					<div class='pull-right'>
						<img src='<%=user.photo %>' class="img-circle" alt='img' style="width:20px">
						<span class="name"><a href="/user/<%=user._id%>"><%=user.name %></a></span>
						<span class="date"><%=post.created.toLocaleDateString() %></span>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<%					
		}
	%>
</div>

