<div class="col-lg-7" id="center_frame" style="margin:0 0 0 20px">
<meta charset="utf-8">

<!-- blog detail -->
<%
	var post = post4web.post
	  , user = post4web.user
	  , answers = post4web.answers
	  , answerCount = post4web.answerCount;
%>
      <article class="row"> 
        <div class="span8">
          <div class="row-fluid">
            <header class="span8">
              <h3><strong><%= post.title%></strong></h3>
            </header>
          </div>
          <div class="row-fluid">
            <section class="span8">
              <p>
              	<%= post.content%>
              </p>
            </section>
          </div>
          <div class="row-fluid">
            <footer class="span8">
              <p>
              	<div class="row">
					<a class="btn btn-default span2  pull-right" data-postnum="<%=post.num %>" id='post_delete'>delete</a>
					<a class="btn btn-default span2  pull-right" id='insert'>edit</a>
				</div>
              </p>
              <p>
                <img src='<%=user.photo %>' class="img-circle" alt='img' style="width:20px"> by <a href="#"><%= user.name%></a> 
                | <i class="icon-calendar"></i> <%= post.created%>
                | <i class="icon-comment"></i> <a href="#"><%=answerCount %> Comments</a>
                | <i class="icon-tags"></i> Tags : <a href="#"><span class="label label-info">안했음</span></a> 
              </p>
            </footer>
          </div>
 		
 		<!--reply  -->
       
            
            
        </div><!--span8-->   
      </article> 
</div>      
      
<script src="/resources/js/board/detail.js"></script>