<% layout('../layout.ejs') -%>
<% script('/resources/js/board/list.js')  -%>
<div class="col-lg-8" id="center_frame">
	<meta charset="utf-8">
	<!----------- 글 리스트  -->
	<!-- Nested media object -->
	<%
		var loginUser = blog.loginUser;
		var pager = blog.pager
		  , pageCount = pager.getPageCount()
		  , posts = blog.posts;
	%>
	<% 
		if(loginUser) {
	%>
		<div class="row   col-sm-10  col-sm-offset-1 " style="padding: 0 0 10px 0">
			<a class="btn btn-default span2  pull-right" href="/blog/new">입력</a>
		</div>
	<%	
		}
	%>
	<%
		for(var i in posts) {
			var post = posts[i]
			  , user = post.user;
			  
	%>
	<div class="row  col-sm-10  col-sm-offset-1 board-row">
		<div class=" col-sm-2" style="padding:9px 0">
			<div>Votes <B><%=post.vote%></B></div>
			<div>Answers <B><%= post.answerCount%></B></div>
			<div>Views <B><%= post.readCount%></B></div>
		</div>
		<div class="col-sm-10 " >
			<div class="row">
				<a href="/blog/<%=post.num%>/<%=post.title%>"> 
					<H2><%=post.title %></H2>
				</a>
			</div>
			<div class="media-body  pull-right">
				<img src='<%=user.photo %>' class="img-circle" alt='img' style="width:20px">
				<span class="name"><a href="#"><%=user.name %></a></span>
				<span class="date"><%=post.created %></span>
			</div>
		</div>
	</div>	
	<%					
		}
	%>
	<div class='row jumbotron'>
		<ul class="pagination">
			<li><a href="/blog?pageNum=1">&laquo;</a></li>
		<%
		  for(var i=1, max=pageCount+1 ; i < max; ++i) {
		%>
		  		<li><a href = "/blog?pageNum=<%= i %>"><%= i %></a></li>
		<%
		  } 
		%>
			<li><a href="/blog?pageNum=<%= pageCount %>">&raquo;</a></li>  
		</ul>
	</div>
</div>

