<% layout('../layout.ejs') -%>

<meta charset="utf-8">
<div class="col-lg-7" id="center_frame" style="margin: 0 0 0 20px">

	<!-- blog detail -->
	<%  
		var loginUser = blog.loginUser;
		var post = blog.post
		  , user = post.user;
		  
	%>
	<article class="row">
		<div class="span8">
			<div class="row-fluid">
				<header class="span8">
					<h3>
						<strong><%= post.title%></strong>
					</h3>
				</header>
			</div>
			<div class="row-fluid">
				<section class="span8">
					<p><%= post.content%></p>
				</section>
			</div>
			<div class="row-fluid">
			<%
			if(post.hasFile()) {
			%>
				<footer class="row">
					<div class='pull-right'>
						<div class='row-fluid'>download</div>
							<%
								
								var Post = post.constructor
								var filePaths = post.filePaths
								for(var i in filePaths) {
								var fileName = Post.getFileName4url(filePaths[i])
							%>
							 	<form action="/file/download" method="post" >
									<input name="userId" value="<%= user._id%>" style="display:none">
									<input name="fileName" value="<%= fileName%>" style="display:none">
								 	<input class='btn btn-link' type="submit" value='<%=fileName%>'>
								</form>
							<%
								}
							%>
					</div>
				</footer>
			<% } %>
				<footer class="span8" style="padding:0">
			<%
				if(loginUser.isExist()) {
			%>
					<p>
						<div class=" col-sm-offset-5">
							
							<a id="blogDetail-increase-vote" data-userId="<%=loginUser._id%>" data-postNum="<%=post.num %>" data-votecount="<%=post.vote%>" class="btn btn-default btn-xs">
						    	★ Vote  <%=post.vote%>
							</a>
						</div>
							
					</p>
			<% } %>
					<p>

						<img src='<%=user.photo %>' class="img-circle" alt='img'
							style="width: 20px"> by <a href="#"><%= user.name%></a> | <i
							class="icon-calendar"></i> <%= post.created.toLocaleDateString()%> | <i class="icon-tags"></i> Tags : <a href="#"><span
							class="label label-info">안했음</span></a>
					</p>
			<%
				if(loginUser.isExist() && loginUser.isEqualById(post.userId)) {
			%>		
					<p>
					<div class="row-fluid">
						<a class="btn btn-default span2  pull-right"
							href = "/blog/delete?postNum=<%=post.num %>&filepath=<%= post.filePaths ? post.filePaths: '' %>&userId=<%=post.userId%>">
							delete
						</a>
						<a class="btn btn-default span2  pull-right" id='insert'>edit</a>
					</div>
					</p>
			<%
				}
			%>
				</footer>
			</div>
		</div>
		<!--span8-->
	</article>
	<article class="row">
		<div class="span8">
		<% include ../answer/list.ejs %>
		</div>
	</article>
	
</div>



